body {
    text-align: center;
    font-family: Optima;
    bckground-image: url("https://img.freepik.com/free-vector/psychedelic-colorful-eyes-seamless-pattern_8830-673.jpg");

}

h1 {
    font-family: OldLondon;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: silver;
}

.navbar a:active {
    background-color: aqua;
}

footer {
    background-color: black;
    color: white;
    padding: 10;
}

img {
    width: 500px;
    margin: 10;
}

.box {
    border: solid;
    border-radius: 50px;
    background-color: grey;
    width: 600px;
    margin: 10;
}