body {
    text-align: center;
    margin: 0;
    background-color: #dbd8e3;
}

h1,
.navbar {
    font-family: OldLondon;
    font-size: 40px;
}

.navbar {
    border-bottom: solid white;
    background-color: #2a2438;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    margin: 0;
    padding: 40px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: #dbd8e3;
    color: #5c5470;
    transition-duration: 0.3s;
}

footer {
    border-top: solid;
    background-color: #2a2438;
    color: white;
    padding: 10;
}

img {
    width: 300px;
    margin: 10;
    border-radius: 20px;
    display: flex;
}

.container {
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    color: white;
    background-color: #5c5470;
    width: fit-content;
    height: fit-content;
}

.dunners {
    color: black;
    font-size: 60px;
}